/*-------------
 	General
-------------*/
/* @font-face {
    font-family: SpeakOT;
    src: url(../fonts/SpeakOT-Regular.otf);
}
@font-face {
    font-family: SpeakOT-Bold;
    src: url(../fonts/SpeakOT-Bold.otf);
}
@font-face {
    font-family: Calibri;
    src: url(../fonts/Calibri.ttf);
} */
*{
	margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html, body{
    font: normal 400 14px "sans-serif", "Helvetica", "Arial";
    line-height: 1.35;
}
a, button {
	text-decoration: none;
	cursor: pointer;
	opacity: 0.9;
    color: #684af2;
    letter-spacing: .0975rem;
}
h1, h2, h3, h4, h5, h6 {
    color: #7E7E7E;
    font-family: "Tiempos Headline", sans-serif;
}
p {
    color: #2B2B2B;
    font-size: 0.875rem;
    margin-bottom: 0;
    margin-top: 0.6875rem;
    font-weight: normal;
    -webkit-letter-spacing: 0.02rem;
    -moz-letter-spacing: 0.02rem;
    -ms-letter-spacing: 0.02rem;
    letter-spacing: 0.02rem;
}
img {
    vertical-align: middle;
    border-style: none;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
}
.g-1-2 {
    grid-template-columns: unset;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-between {
    justify-content: space-between;
}
.flex-c {
    flex-direction: column;
}
.txt-left {
    text-align: left;
}
.txt-cen {
    text-align: center;
}
.card {
    background: #ffffff;
    padding: 3rem;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
}
.form-group {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    /* border-left: none; */
}
.check-field {
    outline: none;
}
.login-form .form-group .input-field {
    border-left: none;
}
.form-group label {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    line-height: 1.125rem;
    color: #2b2b2b;
    letter-spacing: .04rem;
}
.form-group .input-icon {
    border: 1px solid #ccc;
    border-right: none;
    padding: 1em;
    display: flex;
}
.content-footer span {
    letter-spacing: .02rem;
    color: #1F204180;
}
section {
    width: 100%;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: unset;
    padding-right: unset;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.mt-0 {
    margin-top: 0px !important;
}
.pt-0 {
    padding-top: 0px !important;
}
.ptb-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}
.p--2 {
    padding: 2.25rem 2rem;
}
.auth-form {
    padding: 0 2.25rem 2rem;
}
.auth-form .cta-select a {
    margin-top: 0;
}
.p_lr_8 {
    padding: 0 .8rem;
}
.btn {
    background: #684af2;
    color: #FFFFFF;
    line-height: 3rem;
    height: 3rem;
    border: none;
    border-radius: 4px;
    width: 100%;
    margin-top: 1.125rem;
    font-size: 1rem;
    text-align: center
}
.btn-outline {
    border: 1px solid #684af2;
    background: transparent;
    color: #684af2;
}
.btn-less {
    background: transparent;
    color: #684af2;
}
.show-bg {
    display: none;
}
p.small-title {
    color: #2e1d7e;
    font-size: 0.75rem;
    margin-bottom: 0.9375rem;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-letter-spacing: 0.08rem;
    -moz-letter-spacing: 0.08rem;
    -ms-letter-spacing: 0.08rem;
    letter-spacing: 0.08rem;
}
p.big-title {
    color: #2B2B2B;
    font-size: 1.375rem;
    margin-bottom: 0.9375rem;
    font-weight: 700;
}
.title-md {
    color: #FFFFFF;
    font-size: 1.125rem;
    margin-top: 1.1375rem;
    margin-bottom: 0.9375rem;
    font-weight: 700;
}
.white-text {
    color: #ffffff !important;
}
.cta p {
    margin-bottom: 1rem;
}
.cta .btn {
    padding: 1rem 1.5rem;
}
/* Header */
header {
    align-items: center;
    padding: 0 1.645rem;
    height: 4.375rem;
    background: #FFFFFF;
    position: fixed;
    width: 100%;
    z-index: 9;
}
header .logo {
    max-width: 120px;
}
header .logo img {
    width: 100%;
    filter: invert(10);
    -webkit-filter: invert(10);
    object-fit: contain;
}
header nav a.btn {
    padding: .5rem 1rem;
    letter-spacing: .05rem;
}
header.header-scrolled {
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.12);
    border-bottom: 1px solid rgba(34, 34, 34, 0.15);
    transition: opacity 500ms ease;
}
/* End Header */
/* Main */
main {
    width: 100%;
    padding-top: 3.625rem;
}
#eventImg.sticky {
    position: fixed;
    max-width: 38.2rem;
}
.hold-grid {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 100rem;
    grid-template-columns: unset;
}
h1.caption-title {
    color: #2B2B2B;
    font-size: 2.925rem;
    font-weight: 700;
    margin-bottom: 0;
    font-family: Tiempos Headline;
}
h2.caption-subtitle {
    color: #2B2B2B;
    font-size: 1rem;
    margin-bottom: 1.125rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: .1rem;
}
.cta-select {
    display: flex;
    flex-direction: column;
}
.banner-img {
    display: none;
}
.section-bg-grey {
    background: #F9FAFC;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 4.8125rem;
    padding-bottom: 4.8125rem;
}
.section-bg-barcoss {
    background: #F6F4FF;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}
.section-title {
    color: #2B2B2B;
    font-size: 1.375rem;
    font-family: Tiempos Headline;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 1.1875rem;
    padding-top: 1.675rem;
    font-weight: 700;
    -webkit-letter-spacing: 0.02rem;
    -moz-letter-spacing: 0.02rem;
    -ms-letter-spacing: 0.02rem;
    letter-spacing: 0.02rem;
}
section.stepwise {
    flex-direction: column;
    padding: 1.5rem 0;
}
section.stepwise .step-text {
    padding: 0 .8rem;
}
.step-text span {
    color: #5E6E7D;
    font-size: 0.875rem;
    font-weight: normal;
}
.step-img-holder {
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}
.step-img-holder img {
    width: 100%;
}
.section-bg-dark {
    background: #150b44;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 4.25rem;
    padding-bottom: 6.25rem;
}
.barcoss-adv {
    padding: 0 .4rem;
    flex-direction: column;
}
.pro-adv-img {
    /* max-width: 45px; */
    margin-bottom: 0.935rem
}
.pro-adv-img i {
    /* width: 100%; */
    font-size: 32px;
    color: #ffffff;
}
.events-by-location {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 5.15rem;
    padding-bottom: 6.25rem;
    max-width: 100rem;
}
.location-list {
    width: 100%;
    margin-top: 1.5625rem;
    display: grid;
    grid-template-columns: null;
}
.item-location {
    align-items: center;
    height: 20.625rem;
    width: 17.5rem;
    background: url(../images/lekki-location.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    text-align: center;
}
.item-location-name {
    color: #FFFFFF;
    font-size: 1.375rem;
    margin-bottom: 0;
    font-weight: bold;
}
section.listing {
    padding-top: 0;
}
section.listing-single {
    padding: 0;
}
.notification {
    width: 100%;
    background: #F6F4FF;
    margin-bottom: 1.4375rem;
    margin-right: unset;
    padding-bottom: 0.8125rem;
    padding-top: 0.8125rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 5px;
}
.notification i {
    margin-right: 0.875rem;
    font-size: 24px;
}
.list-events {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(273px,1fr));
    grid-template-rows: auto;
    grid-gap: 2.4375rem;
}
.list-events a.items {
    font-size: 0.875rem;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    text-decoration: none;
}
.listing-item {
    position: relative;
    border: 1px solid #F2F2F2;
    border-radius: 7px;
}
.list-badge {
    background: rgba(89, 57, 242, 0.69);
    border-radius: 0.25rem;
    color: #FFFFFF;
    font-size: 0.6875rem;
    margin: 0rem;
        margin-bottom: 0rem;
    margin-bottom: 0;
    padding-left: 0.675rem;
    padding-right: 0.675rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    line-height: 1.125em;
    font-weight: 500;
}
.event-img {
    height: 12.6rem;
    width: 100%;
    background: url(../images/event-img.jpg) no-repeat;
    background-size: 100%;
    border-radius: 4px 4px 0 0;
}
.event-details {
    padding-bottom: 1.23rem;
    padding-top: 1.06rem;
    padding-left: 1.11rem;
    padding-right: 1.11rem;
}
.single-event {
    display: flex;
    flex-direction: column;
    padding: .5rem 1.65rem 2.25rem;
}
.single-event .page-half {
    width: 100%;
}
.single-event .page-half img {
    width: 100%;
}
.single-event-details {
    padding: 1.5rem 0;
}
.title-price p.title, 
.title-price p.price {
    color: #12132C;
    font-size: 1.3rem;
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: bold;
    font-family: Tiempos Headline;
}
.title-price p.title small, 
.title-price p.price small {
    color: #A7B3BD;
    font-size: 60%;
    display: block;
    font-weight: normal;
    letter-spacing: .12rem;
    font-family: sans-serif;
}
.title-price p.price {
    text-align: right;
}
.events-booking-card {
    min-height: 5.0625rem;
    width: 100%;
    background: #FFFFFF;
    position: fixed;
    padding-left: 2rem;
    padding-right: 2rem;
    bottom: 0;
    border-top: 1px solid #F2F2F2;
    z-index: 1;    
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    left: 0;
}
.events-booking-card button {
    background: #684af2;
    color: #FFFFFF;
    letter-spacing: .1rem;
    border: none;
    border-radius: 4px;
    font-weight: 500;
}
.event-description {
    padding: 1.5rem;
    box-shadow: 0 0 3px #dedede;
    border-radius: 2px;
    margin: 1.8rem 0 2.5rem;
}
.event-description p {
    color: #A7B3BD;color: #8f8f8f;
    font-size: 0.925rem;
    line-height: 1.5;
}
.date-time {
    margin: 2rem 0;
}
.date-time p i {
    margin-right: .5rem;
}
.about-barcoss {
    width: 100%;
    text-align: justify;
    padding-left: 1.65rem;
    padding-right: 1.65rem;
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
}
.about-sections {
    padding: 1rem 0;
}
.about-sections img {
    padding: 2rem 0;
    width: 100%;
}
/* End Main */
/* Footer */
footer {
    width: 100%;
    background: #141414;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2.4375rem;
    padding-bottom: 2.4375rem;
    display: grid;
    grid-template-columns: auto;
}
.footer-bio {
    margin-bottom: 2.0625rem;
    max-width: unset;
}
.footer-img-holder {
    max-width: 150px;
}
.footer-img-holder img {
    width: 100%;
}
.p-footer {
    color: rgba(255,255,255,0.6);
    font-size: 0.875rem;
    margin-bottom: 0.875rem;
    margin-top: 0.875rem;
    font-weight: normal;
}
.p-footer a {
    color: #ac9afc;
}
.footer-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.p-footer-menu-title {
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 0.875rem;
    font-weight: normal;
    letter-spacing: .1rem;
}
p.social-menu a {
    color: #ffffff;
    padding-right: 1.5rem;
}
p.social-menu a i {
    font-size: 24px;
}
.footer-menu div ul {
    font-size: .9rem;
    line-height: 1.5;
    color: #000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.footer-menu div ul li {
    padding-top: 12px;
    padding-bottom: 12px;
}
.footer-menu div ul li a {
    color: rgba(255,255,255,0.6);
    font-size: 0.875rem;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    text-decoration: none;
}
/* End Footer */
/* Desktop View */
@media screen and (min-width: 780px) {
    p {
        font-size: 1rem;
        letter-spacing: .05rem;
    }
    .show-bg {
        display: unset;
    }
    .show-sm {
        display: none;
    }
    .pad-bg {
        padding: 4rem 7.5rem;
    }
    header {
        padding: 0 7.5rem;
    }
    header nav a {
        margin-left: 3.75rem;
    }
    .banner {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-top: 6.25rem;
        padding-bottom: 6.25rem;
    }
    .hold-grid {
        grid-template-columns: 42.5% 57.5%;
    }
    h1.caption-title {
        font-size: 4.25rem;
    }
    h2.caption-subtitle {
        font-size: 1.125rem;
        margin-bottom: 2.25rem;
    }
    .banner-img {
        display: flex;
    }
    .p--2 {
        padding: 6.25em;
    }
    .cta-select {
        flex-direction: unset;
    }
    .cta-select a.btn:first-child {
        margin-right: 1rem;
    }
    .cta-select a.btn:last-child {
        margin-left: 1rem;
    }
    .section-title {
        font-size: 2rem;
        margin-bottom: 0;
    }
    .section-subtitle {
        font-size: 1.125rem;
    }
    .section-title.show-bg {
        display: flex !important;
        width: 100%;
        justify-content: center;
    }
    section.stepwise {
        flex-direction: unset;
    }
    section.stepwise .step-text, section.stepwise .step-img-holder {
        width: 50%;
        padding: 8.45rem 6.25rem 6rem;
    }
    section.stepwise .step-img-holder {
        padding-top: 0;
    }
    p.small-title {
        font-size: 0.875rem;
        margin-bottom: 1.5rem;
    }
    p.big-title {
        font-size: 2rem;
        margin-bottom: 0.875rem;
    }
    .step-text span {
        font-size: 1.175rem;
        letter-spacing: .06rem;
    }
    .order-img-first .step-text {
        order: 1;
    }
    .g-1-2 {
        grid-template-columns: 1fr 2fr;
    }
    .barcoss-adv {
        flex-direction: unset;
        padding: 0 0 0 1rem;
    }
    .barcoss-adv section{
        padding: 3rem 0 3rem 6.25rem;
    }
    .ll p.section-title {
        text-align: left;
        font-size: 2.925rem;
        position: relative;
    }
    .ll p.section-title::after {
        content: "-";
        font-size: 3.5rem;
        position: absolute;
        bottom: 2rem;
        left: 0;
    }
    .location-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    footer {
        grid-template-columns: 1.8fr 1fr;
        padding: 5rem 7.5rem;
    }
    .p-footer {
        font-size: 1rem;
        letter-spacing: .05rem
    }
    .hold-flex {
        display: flex;
        justify-content: center;
    }
    .auth-form {
        padding: 0 1rem;
        width: 30%;
    }
    section.listing-single {
        height: 90vh;
    }
    .listing-item:hover {
        box-shadow: 0 0 3px #1111111a;
    }
    .list-events {
        grid-template-columns: repeat(3,minmax(273px,1fr));
    }
    .single-event {
        flex-direction: unset;
        padding: 3rem 7.5rem;
    }
    .single-event .page-half {
        width: 50%;
    }
    .single-event-details {
        padding: 0 3rem;
    }
    .title-price p.title, 
    .title-price p.price {
        font-size: 1.5rem;
    }
    .events-booking-card {
        width: 100%;
        background: #FFFFFF;
        position: relative;
        padding-left: unset;
        padding-right: unset;
        border: 1px solid #F2F2F2;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: space-between;
        -webkit-justify-content: space-between;
        -ms-flex-pack: space-between;
        justify-content: space-between;
        left: 0;
    }
    .events-booking-card .form-card {
        padding: 1rem 1.5rem;
    }
    .about-barcoss {
        padding-left: 13.25rem;
        padding-right: 13.25rem;
        padding-top: 3.25rem;
        padding-bottom: 3.25rem;
    }
    .about-sections {
        max-width: 50rem;
        margin: 0 auto;
    }
    .about-sections img {
        padding: 5rem 0;
    }
    .card-head {
        width: 100%;
        border-bottom: 1px solid #f2f2f2;
    }
    .card-head p.price {
        padding: 0 1.5rem;
    }
}
/* End Desktop View */